.TabBar {
  padding-top: 40px;
  font-size: large;
}

.nav-link {
  color: black;
  font-weight: 900;
}

.page-header {
  z-index: 10;
}

.page-sidebar {
  z-index: 8;
}

.page-main {
  margin-left: 10vw;
}
